.success {
  color: green;
  font-size: larger;
  font-weight: 500;
  border-width: 4px;
  border-style: solid;
  border-color: green;
  padding: 15px 10px;
  border-radius: 5px;
  background-color: lightgray;
}

.failed {
  color: red;
  font-size: larger;
  font-weight: 500;
  border-width: 4px;
  border-style: solid;
  border-color: red;
  padding: 15px 10px;
  border-radius: 5px;
  background-color: lightgray;
}

.blog-list {
  padding-top: 10px;
  padding-left: 2px;
  border: solid;
  border-width: 1px;
  margin-bottom: 5px;
}